label {
    font-family: 'poppins';
    margin-left: 3px;
}

.rdp {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    width: 404px;
    margin-top: 0px;
    position: absolute;
    background-color: white;
    left: 62px;
    z-index: 1;
    font-family: 'poppins';
}

.rdp-caption_label {
    margin-right: 80px;
    padding-left: 10px;
}

.rdp-month {
    width: 82%;
    padding-left: 60px;
}

